@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
  }
  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-50;
  }
}
